body {
  background-image: url("./SphynxinScarf.png");
  height: 100vh;
  background-position: center top;
  background-repeat: repeat-x;
  background-attachment: fixed;

}

a {
  color: rgb(24, 19, 24);
  font-size: 65px;
  font-family: 'Sacramento', cursive;
  text-decoration: none;
}

img {
  height: 100px;
  width: 100px;
  background-color: transparent;
  border-radius: 50px;
}

.img {
  border-radius: 50px;
  background-color: transparent;
  border: none;
}

nav {
  font-family: 'Sacramento', cursive;
  text-align: center;
  margin-left: 70px;
}